########## 실행 타입 선언 ##########
# ===== ENVIRONMENT Mode =====
# ENVIRONMENT_MODE=PRODUCT|DEVELOP
ENVIRONMENT_MODE=PRODUCT


########## Service Config ##########
# ===== 경로 최적화 모드 =====
# ROUTE_MODE=NONE|TMAP|OSRM|BUILDING-AVOID
ROUTE_MODE=TMAP
# ===== 서비스 포트 =====
PORT=3000
# ===== 시간대 설정 =====
TZ=Asia/Seoul


########## Database(DRIZZLE) Config ##########
# ===== Database Generator Config =====
POSTGRES_USER={user}
POSTGRES_PASSWORD={password}
POSTGRES_DB={db_name}
POSTGRES_PORT={db_port}


########## Authorization ##########
# ===== BetterAuth SecretKey =====
BETTER_AUTH_SECRET={secret_key}
# ===== Base URL of Your App =====
BETTER_AUTH_URL={baseUrl}
# ===== BetterAuth Trusted Origin =====
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:3000


########## GIS Serivce Config ##########
# ===== BaseMap =====
# V-WORLD API Token
V_WORLD_ACCESS_TOCKEN={v_world_access_tocken}
# ===== 3D TileSet =====
TILESET_URL={tileset_url}
# ===== Terrain =====
TERRAIN_URL={terrain_url}
# ===== Navigation =====
TMAP_ACCESS_TOCKEN={tmap_access_tocken}


########## OpenSource Access Token(미설정 시 비활성화?) ##########
# ===== Github Access Tocken =====
GITHUB_TOKEN={github_tocken}
# ===== 기상청 API Access Tocken =====
WEATHER_KOR={weather_kor}
# ===== 공공데이터포털 Access Tocken =====
OPEN_DATA={open_data}
# ===== 서울 열린데이터광장 Access Tocken =====
SEOUL_ACCESS_KEY={seoul_access_key}
# ===== 에어코리아 Access Tocken =====
AIR_KOREA_KEY={air_korea_key}


########## Other Config ##########
# ===== Admin Seed Email =====
ADMIN_SEED_EMAIL=admin@runnable.com
# ===== Admin Seed Password =====
ADMIN_SEED_PASSWORD=admin12345
# ===== Developer Seed Email =====
DEVELOPER_SEED_EMAIL=develop@runnable.com
# ===== Developer Seed Password =====
DEVELOPER_SEED_PASSWORD=develop1234
# ===== Jenkins Admin Id =====
JENKINS_ADMIN_ID={jenkins_admin_id}
# ===== Jenkins Admin Password =====
JENKINS_ADMIN_PASSWORD={jenkins_admin_password}
# ===== Webhook Secret =====
WEBHOOK_SECRET={webhook_secret}