########## 실행 타입 선언 ##########
# ===== ENVIRONMENT Mode =====
# ENVIRONMENT_MODE=PRODUCT|DEVELOP
ENVIRONMENT_MODE=DEVELOP

########## Service Config ##########
# ===== 경로 최적화 모드 =====
# ROUTE_MODE=NONE|TMAP|OSRM|BUILDING-AVOID
ROUTE_MODE=NONE


########## Database(DRIZZLE) Config ##########
# ===== Database Generator Config =====
POSTGRES_USER={user}
POSTGRES_PASSWORD={password}
POSTGRES_DB={db_name}
# ===== Database Connection URL =====
DATABASE_URL=postgres://{user}:{password}@{host}:{port}/{db_name}


########## Authorization ##########
# ===== BetterAuth SecretKey =====
BETTER_AUTH_SECRET={secret_key}
# ===== Base URL of Your App =====
BETTER_AUTH_URL={baseUrl}


########## GIS Serivce Config ##########
# ===== BaseMap =====
# V-WORLD API Token
V_WORLD_ACCESS_TOCKEN=...
# ===== 3D TileSet =====
TILESET_URL=...
# ===== Terrain =====
TERRAIN_URL=...
# ===== Navigation =====
# TMAP API
TMAP_API_ACCESS_TOCKEN=...


########## OpenSource Access Token(미설정 시 비활성화?) ##########
# ===== 기상청 API Access Tocken =====
WEATHER_KOR=...
# ===== 공공데이터포털 Access Tocken =====
OPEN_DATA=...
# ===== 에어코리아 Access Tocken =====
AIR_KOREA_KEY=...
# ===== Github Access Tocken =====
GITHUB_TOKEN=...


########## Other Config ##########
# ===== Admin Seed Email =====
ADMIN_SEED_EMAIL=admin@runnable.com
# ===== Admin Seed Password =====
ADMIN_SEED_PASSWORD=admin12345
# ===== Developer Seed Email =====
DEVELOPER_SEED_EMAIL=develop@runnable.com
# ===== Developer Seed Password =====
DEVELOPER_SEED_PASSWORD=develop1234
