.square-button {
    --map-button-radius: var(--radius-control-sm);
}

.square-button:not(.has-label) {
    --map-button-padding: 0;
}

.square-button--sm:not(.has-label) {
    --map-button-width: var(--size-control-lg);
    --map-button-height: var(--size-control-lg);
}

.square-button--md:not(.has-label) {
    --map-button-width: var(--size-input-height);
    --map-button-height: var(--size-input-height);
}

.square-button--lg:not(.has-label) {
    --map-button-width: calc(var(--size-input-height) + 8px);
    --map-button-height: calc(var(--size-input-height) + 8px);
}
