.sidebar-header-actions {
    display: flex;
    gap: var(--gap-section-2xs);
    margin-left: auto;
}

.sidebar-header-actions--collapsed {
    width: 100%;
    justify-content: center;
    margin-left: 0;
}
